/*КОЛЬОРОВІ ЗМІННІ
--main-btn-bg: #4D5AE5;
--secondary-btn-bg: #F4F4FD;



*/



body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
}



/**-------------------------------HEADER----------------------------*/
.header {

}

.header-navigation {

}

.header-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}

.part-of-logo {
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;    
    color: #2E2F42;
}

.header-list {

}

.header-list-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
}


.header-list-link {
    color: #2E2F42;
}

.header-list-link:hover,
.header-list-link:focus {
    color: #404BBF;
}
.header-address {
    font-style: normal;
}

.address-list {

}

.address-list-item {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;    letter-spacing: 0.02em;
    color: #434455;
}

.address-list-link {
    color: #434455;
}

.address-list-link:hover,
.address-list-link:focus {
    color: #404BBF;
}

/**-------------------------------HERO----------------------------*/

.hero {
    background: #2E2F42;
}

.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.hero-btn {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background: #4D5AE5;
    cursor: pointer;
}
.hero-btn:hover,
.hero-btn:focus {
    color: #404BBF;
}

/**-------------------------------STRATEGY----------------------------*/


.strategy {

}

.strategy-title {

}

.strategy-list {

}

.strategy-list-item {

}

.strategy-list-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.strategy-list-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/**-------------------------------WORK----------------------------*/
.work {

}

.work-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
}

.work-list {

}

.work-list-item {

}

/**-------------------------------OUR TEAM----------------------------*/
.team {
    background-color: #F4F4FD;
}

.team-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
}

.team-list {

}

.team-list-item {
    background-color: #FFFFFF;
}

.team-list-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.team-list-text {
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: #434455;
}

/**-------------------------------FOOTER----------------------------*/

.footer {
    background: #2E2F42;
}

.footer-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}

.footer-part-of-logo {
    color: #F4F4FD;
}

.footer-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #E7E9FC;
}

/**-------------------------------portfolio----------------------------*/
/**-------------------------------MAIN----------------------------*/


.main {

}

.filter {

}

.filter-title {

}

.filter-list {

}

.filter-list-item {

}

.filter-list-btn {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    background: #F4F4FD;
    border: 1px solid #E7E9FC;
    border-radius: 4px;
    color: #4D5AE5;
    cursor: pointer;
}

.filter-list-btn:hover,
.filter-list-btn:focus {
    background: #404BBF;
    color: #FFFFFF;
}
.result-list {

}

.result-list-item {

}

.result-link {

}

.result-list-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.result-list-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}