body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
}



/**-------------------------------HEADER----------------------------*/
.header {

}

.header-navigation {

}

.header-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}

.part-of-logo {
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;    
    color: #2E2F42;
}

.header-list {

}

.header-list-item {

}

.header-list-link {

}

.header-address {

}

.address-list {

}

.address-list-item {

}

.address-list-link {

}